
*{
      margin:0;
      padding:0;
      box-sizing: border-box;
}

.container{
             background-color:rgb(246, 244, 244);
             margin-top:5%;
             margin-left:5%;
             margin-right:5%;
}

  .logo{
           width:4vw;
           margin-right:100px;
           margin-top:7px;
            
           
  }

  

  
    .navbar{
        display: flex;
        justify-content:space-around;
        justify-content: center;
        gap:60px;
        align-items: center;
        list-style:none;
        margin-left:100px;
        width:70vw;
        
     }

     a{
          text-decoration: none;
          color:white;
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     }

     .navbar a:hover{
                      color:red;
                      font-size:23px;
                      transition: .5s all;
                      gap:20px; 
                      text-decoration: underline;
     }


 .homepage{
           
            width:100%; 
            height:100vh;   
           background-image:url(/click\ path\ background.png);
           clip-path:polygon( 0 0,100% 0,100% 75%,50% 98%,0 75%);
           position: relative;
           background-position:10%;
             
                }


                .ourclients{
                               margin:120px 500px;
                               width:25vw;
                               font-size:20px;
                               font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                               color:white;
                              
                }


                .welcometoskyh1{
                                 margin:0 400px;
                                 position: relative;
                                 bottom:70px;
                                 width:50vw;
                                 font-size:60px;
                                 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                 color:white;
                }

                .line1{
                        width:5vw;
                        border:1px solid rgb(206, 120, 120);
                        position: relative;
                        bottom:90px;
                        left:550px;
                }

                 .point{
                  height:6px;
                  width:6px;
                  border-radius:50px;
                  position: relative;
                  bottom:91px;
                  left:650px;
                  background-color: rgb(218, 115, 115);
          }
 
               .line2{
              
                width:5vw;
                border:1px solid rgb(190, 111, 111);
                position: relative;
                bottom:95px;
                left:680px;
        }

                .welcometoskyp{
                          
                         margin-left:450px;
                         width:30vw;
                         text-align: center;
                         position: relative;
                         bottom:50px;
                         color:white;

                }

                .button1{
                            margin-left:500px;
                            height:6vh;
                            width:10vw;
                            font-size:10px;
                            /* background-color:rgb(231, 11, 11); */
                            color:white;
                            font-weight:400;
                            justify-content: center;
                            text-align: center;
                            align-content: center;
                            border:2px solid white;
                            font-size:12px;
                            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

                }

                .button1:hover{
                                 background-color:orangered;
                                 transition: .5s; 
                                 width:9.8vw;
                                 height:5.8vh;
                                
                }





                .button2{
                 height:6vh;
                 width:10vw;
                 border:2px solid white;
                color:white;
                 margin-left:700px;
                 position: relative;
                 bottom:41px;
                 text-align: center;
                 align-content: center;
                font-size:12px;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            }


                            .button2:hover{
                                background-color:orangered;
                                transition: .5s; 
                                width:9.8vw;
                                height:5.8vh;
                               
               }


              

                            #nextbutton1{
                                   
                                     margin-left:95.6%;
                                     position: relative;
                                     bottom:97px;
                                     
                                 
                                     }


                                     #nextbutton2{
                                        position: relative;
                                        left:20px;
                                        bottom:99px
                                        
                                      
                                    }
                                    
                                        
                   
                                     
          
         #anchor{
                  margin-left:48%;
                  background-color:white;
                 
                  width:3vw;
                  height:6vh;
                  padding:18px 9px;
                  border-radius:50%;
                  position: relative;
                  bottom:37px;
                
                 
         }



      .transperent{
                    
                  
                        height:100%;
                        opacity:0.8;
                        background-color: rgb(8, 8, 8);

      }

      .fourdiv{
                   display: flex;
                   width:70vw;
                   margin-left:140px;
                   
      }

      .box1{
              height:50px;
              width:50px;
              border:2px solid red;
              transform: rotate(45deg);
              margin-bottom:20px;
             margin-left:100px;
             
              
      }

      .box2{
        height:50px;
        width:50px;
        border:2px solid black;
        margin-left:90px;
        padding-top:12px;
}

.box3{
        height:50px;
        width:50px;
        border:2px solid black;
        margin-left:90px;
        padding-top:12px;
}

.box4{
        height:50px;
        width:50px;
        border:2px solid black;
        margin-left:90px;
        padding-top:12px;
}

.firstbox{
             
              width:37vw;
              text-align: center;
              margin-right:30px;
              opacity:0.7;
             
}

   #glass{
            transform:rotate(320deg);
            margin-left:1px;
            margin-top:20px;
   }

  .firstbox h3{
                   margin-top:30px;
                   color:red;
  } 

  .firstbox p{
        margin-top:30px;

} 

  .secondbox{
       
        width:33vw;
        text-align: center;
        margin-right:30px;
        opacity:0.7;
  }


  .secondbox h3{
        margin-top:30px;
} 

.secondbox p{
margin-top:30px;
} 


  .thirdbox{
       
        width:33vw;
        text-align: center;
        margin-right:30px;
        opacity:0.7;
  }


  .thirdbox h3{
        margin-top:30px;
} 

.thirdbox p{
margin-top:30px;
} 

  .forthbox{
      
        width:33vw;
        text-align: center;
        margin-right:30px;
        opacity:0.7;
  }


  .forthbox h3{
        margin-top:30px;
} 

.forthbox p{
margin-top:30px;
} 

 

  .oversirvices{
                 
             margin:50px 150px;
             width:70vw;
             height:60vh;
             border:2px solid black;
              background-color:rgb(26, 24, 24);
              color:white;
              opacity:0.9;
             }


  .servicephoto{
                  width:49%;
                  height:59.6vh;
                  margin-left:545px;
                  position: relative;
                  bottom:315px;
                

  }


  .oversirvices h1{
                     margin:50px 0;
                     position: relative;
                     left:330px;
                     color:white;
  }

   .webdesignh4{
        margin:50px 0;
        position: relative;
        left:410px;
        color:red;
}

.webdesignlorem{
        
        position: relative;
        left:110px;
        bottom:40px;
        width:400px;
        font-size:10px;
      text-align: right;
}

   .screenicon{
                 border:2px solid white;
                 padding:9px 5px;
                 height:35px;
                 width:35px;
                 border-radius:50%;
                 background-color:white;
                 position: relative;
                 left:680px;
                 bottom:310px;
                
   }


.paintdesignh4{
        
        position: relative;
        bottom:20px;
        left:400px;
        color:red;
}

.paintdesignlorem{
    
        position: relative;
        left:110px;
        bottom:10px;
        width:400px;
        font-size:10px;
      text-align: right;
}

.printdesignicon{
        border:2px solid white;
        padding:7px 2px;
        height:35px;
        width:35px;
        border-radius:50%;
        background-color:white;
        position: relative;
        left:680px;
        bottom:280px;
       
}

.photographyh4{
        position: relative;
        left:390px;
        color:red;
}


.photographylorem{
        position: relative;
        left:110px;
        top:10px;
        width:400px;
        font-size:10px;
      text-align: right;
}

.photographyhicon{
        border:2px solid white;
        padding:5.5px 4px;
        height:35px;
        width:35px;
        border-radius:50%;
        background-color:white;
        position: relative;
        left:680px;
        bottom:250px;
       
        }


.recentworkstext{

        text-align: center;
        opacity:0.7;
}

.grid{
          display: grid;
          grid-template-columns:1fr 1fr 1fr 1fr;
          grid-template-rows:1fr 1fr;
          margin:70px;
}


.item{
        
         height:40vh;

}

#item1{
        width:20vw;
        height:40vh;
}

  #item1:hover{
                 
                 filter: saturate(3);
  }

    

#item2{
        width:20vw;
        height:40vh;
}

#item2:hover{
                 
        filter: saturate(2);
}

#item3{
        width:20vw;
        height:40vh;
}

#item3:hover{
                 
        filter: saturate(5);
}

#item4{
        width:20vw;
        height:40vh;
}

#item4:hover{
                 
        filter: saturate(4);
}


#item5{
        width:20vw;
        height:40vh;
}

#item5:hover{
                 
        filter: saturate(2);
}


#item6{
        width:20vw;
        height:40vh;
}

#item6:hover{
                 
        filter: saturate(5);
}


#item7{
        width:20vw;
        height:40vh;
}

#item7:hover{
                 
        filter: saturate(5);
}


#item8{
        width:20vw;
        height:40vh;
}

#item8:hover{
                 
        filter: saturate(7);
        
}

.casestudy{
           text-align: center;
}

.casestudyphoto{
                  height: 55vh;
                  width: 20vw;
                  /* border:2px solid black; */
                  margin:50px 800px;
                  background-image:url(/photo_3.jpeg);
                  background-size: cover;
                  background-position:center;
}

.casestudytext{
        height:45vh;
        width: 25vw;
        /* border:2px solid black; */
        position: relative;
        bottom:400px;
        left:470px;
        background-color:white;
        text-align: center;
        padding-top:100px;
        
        
}

.casestudytext h5{
        
        margin-bottom:25px;
        
}

.bulb{ 
         width:50px;
         height:50px;
          border:2px solid white;
          padding-top:12px;
          padding-left:-1px;
          transform:rotate(45deg);
          background-color:rgb(228, 17, 17);
          opacity:0.7;
          position: relative;
          bottom:60px;
          left:170px;
         
}

#bulb{
        transform:rotate(310deg);
        opacity:0.7;
        
}




.readmore{
            height:4vh;
            width: 6vw;
            background-color:rgb(233, 40, 5);
            color:white;
            position: relative;
            top:30px;
            left:12px;
            opacity:0.7;
}


.opecitybackground{
                    height:40vh;
                    width:80%;
                    border:2px solid black;
                    position: relative;
                    bottom:200px;
                    left:140px;
                    background-image:url(bacground_opecity.jpeg);
                    background-size: cover;
                    filter:blur(3px);
                    
}

.blacktransport{
                      height:40vh;
                      width:80%;
                      background-color: black; 
                      position: relative; 
                      bottom:485px; 
                      left:140px;  
                      opacity:0.7;  
                      display: flex;  
                      column-gap:70px;  
}


  .icons{
        height:60px;
        width:60px;
        border-radius:50%;
        border:1px solid white;
        padding:27px 19px;
        position: relative;
        top:40%;
        left:20%;
        display: flex;
        column-gap: 40px;
        opacity:0.9;

  }

 .number{
           color: white;
           font-size:20px;

 }

 .allnumbers{
                margin:50px;
                display: flex;
                gap:100px;
                position: relative;
                right:650px;
 }

  .pricingtext{
                 text-align: center;
                 position: relative;
                 bottom:380px;
  }

  .threebox{
               position: relative;
               bottom:310px;
               /* border:2px solid black; */
               display: flex;
               margin-left:180px;
               gap:20px;
  }

  .starter{
               width:20vw;
               height:65vh;
               /* border:2px solid black; */
               background-color: aliceblue;

  }

 
 



  .starter50{
                 height:35%;
                 background-color:rgb(76, 71, 71);
                 padding:30px 100px;
                 color:white;
                 opacity:0.7;
                
  }

  .starter p{
                 
                margin:30px;
                position: relative;
                top:30px;
                left:40px;
                opacity:0.7;
                
}

.chooseplan{
                margin:20px 85px;
                height:40px;
                width:100px;
                background-color:rgb(62, 58, 58);
                color:white;
                opacity:0.7;
}


.permonth{
           height:110px;
           width:110px;
         
           border-radius:50%;
           margin:50px;
           position: relative;
           right:50px;
           background-color:white;
           color:black;
           padding-top:20px;
           padding-left:7px;
           font-size:21px;
           text-align: center;
         
          
           }

           .allourpricingtext{
               
                position: relative;
                bottom:10px;
           }
 
           .backgroundwave{
                            height:70vh;
                            width:80%;
                            background-image:url(bg\ \(2\).png);
                            background-size: cover;
                            color:white;
                            text-align: center;
                            justify-content: center;
                            margin-left:150px;
                            position: relative;
                            bottom:250px;

                            
                         }


           .wave1{
                     position: relative;
                     right:0px;
                  
                     bottom:165px;
                    width:100%;

           }

       

           .wave2{
                height:46.6vh;
                width:100%;
                margin-top:10px;
                filter: contrast(350%);
                position: relative;
                bottom:450px;
               
               
           }


            .backgroundwave h3{
                
                  position: relative;
                  top:100px;
                  font-size:25px;

             }


             .backgroundwave p{
                
                position: relative;
                top:110px;
                font-size:15px;

           }


           .member1{
                      height:50px;
                      width:50px;
                      border:1px solid white;
                      border-radius:50%;
                      background-image:url(/i1.png);
                      background-size: cover;
                      position: relative;
                      left:110px;
                      top:300px;
                      z-index:10;
           }

           .member2{
                height:50px;
                width:50px;
                border:1px solid white;
                border-radius:50%;
                background-image:url(/i2.png);
                background-size: cover;
                position: relative;
                left:370px;
                top:200px;
                z-index:10;
     }

     .uiux{
                    color: white;
                    width:200px;
                  position:relative;
                 bottom:40px;
                 right:60px;
                 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              
                }


     .line{
                    height:40px;
                    width:1px;
                    border:1px solid white;
                    margin:70px 32px;
                 
     }


     .h4webdesigner{
                  font-size:20px;
                  width:200px;
                  color:rgb(217, 86, 39);
                  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                 margin:35px;
                 position: relative;
                 right:130px;
              
     }


     .member2:hover{
        
                      height: 70px;
                     width:70px;
                     transition: .5s;
                     position:relative;
                     border:4px solid red;

                     }

                    

                 

     .member3{
        height:50px;
        width:50px;
        border:1px solid white;
        border-radius:50%;
        background-image:url(/i3.png);
        background-size: cover;
        position: relative;
        left:570px;
        top:150px;
        z-index:10;
}


.member4{
        height:50px;
        width:50px;
        border:1px solid white;
        border-radius:50%;
        background-image:url(/i4.png);
        background-size: cover;
        position: relative;
        left:780px;
        top:110px;
        z-index:10;
}

.member5{
        height:50px;
        width:50px;
        border:1px solid white;
        border-radius:50%;
        background-image:url(/i5.png);
        background-size: cover;
        position: relative;
        left:970px;
        bottom:30px;
        z-index:10;
}


.greatinternathionalgrid{
                            text-align: center;
                
}


.greatgrid{
            display:grid;
            grid-template-columns:1fr 1fr 1fr 1fr;
            grid-template-rows:1fr 1fr;
         
            margin:50px 300px;
            width:60%;
            gap:20px;
}

#greatgrid1{
          height:10vh;
         opacity:0.7;
        gap:20px;
        filter:grayscale(200%);
}


.greatgrid1{
             background-image:url(/companylogo1.avif);
             background-size: cover;
}

.greatgrid2{
        background-image:url(/companylogo2.jpg);
        background-size: cover;
}

.greatgrid3{
        background-image:url(/companylogo3.png);
        background-size:50%;
}

.greatgrid4{
        background-image:url(/companylogo4.webp);
        background-size:50%;
}

.greatgrid5{
        background-image:url(/companylogo5.png);
        background-size:50%;
}

.greatgrid6{
        background-image:url(/companylogo3.png);
        background-size: 50%;
}

.greatgrid7{
        background-image:url(/companylogo1.avif);
        background-size: cover;
}

.greatgrid8{
        background-image:url(/companylogo5.png);
        background-size:50%;
}


 .ourblog{
              text-align: center;
 }

 .ourbloggrid{
                 display: grid;
                 grid-template-columns:1fr 1fr 1fr 1fr;
                 grid-template-rows:1fr 1fr;
 }

 .ourgrid{
               border:2px solid black;
               height: 40vh;
 }



 
     